/* common */

:root {
  --bg-dark: #96B565;
  --font-color: #fff;
  --temp-border: solid gray 1px;
  font-family: 'Salmon';
}

body {
  /* max-width: 1920px; */
  margin: 0 auto;
}

header ul {
  list-style-type: none;
  padding: 0;
}

header li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--bg-dark);
  color: var(--font-color);
}

/* p {
  margin: 0;
  padding: 0;
} */

.wrap {
  margin: 0 auto;
  max-width: 1920px;
  border: var(--temp-border);
}

/* header */

.header_section {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  padding: 10px;
}

/* .logo {
  background: url(assets/logo/logo.svg);
  width: 300px;
  height: 300px;
} */

.menu_wrap {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.header_menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
    border: var(--temp-border);
}

/*header end*/

/*main photo, first workout*/

.main_photo {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  /* background: url(assets/about/photo_2023-10-10_12-00-26.jpg) center no-repeat; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),
                                    rgba(0, 0, 0, 0.2)),
                    url(assets/about/photo_2023-10-10_12-00-26.jpg);
  background-size: cover;
  background-position: center;
  /* width: 1060px;*/
  /* width: 100%; */
  height: 824px;
}

.main_title {
  margin: auto;
  color: var(--font-color);
  font-size: 7rem;
}

.first_workout {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: solid green 2px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  /* width: 100%; */
}

.first_workout_btns_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
}

.first_workout_btns {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-dark);
  color: var(--font-color);
  border-radius: 5px;
  width: 40%;
  height: 40px;
  font-size: 2rem;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: var(--bg-dark);
  border-radius: var(--temp-border);
}

/*end main phot, first workout*/

/*about*/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_about {
  width: 70%;
  padding: 0;
  text-align: justify;
}

.text_about li {
  list-style: none;
}

/*end about*/

/*slider*/

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

#images {
  width: 752px;
  height: auto;
  border-radius: 5px;
}

.left_right {
  cursor: pointer;
}

/*end slider*/

/*instructors*/

.instructors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructors ul {
  padding-left: 0;
}

.instructors li {
  list-style: none;
}

.slider__instructors {
  width: 98%;
}

.instr_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 83%;
}

.instructors_text {
  width: 45%;
}

.images {
  width: 752px;
  height: auto;
  border-radius: 5px;
}

/*end instructors*/

/*contacts*/

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts ul {
  padding-left: 0;
}

.contacts li {
  list-style-type: none;
}

.icons_contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

/* .icon {
  width: 50px;
  height: 50px;
} */

.maps_wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
}
/*end contacts*/

/*footer*/

.footer_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
}

.footer {
  width: 100%;
  background: var(--bg-dark);
  color: #fff;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer li {
  list-style-type: none;
}

.footer_contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

.logo_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.IP {
  width: 30%;
  padding-left: 20px;
}

/*end footer*/