/* common */

:root {
  --bg-dark: #96B565;
  --font-color: aliceblue;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  margin: 0 auto;
  max-width: 98%;
  border: solid gray 1px;
}

/* header */

.header_section {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-dark);
  color: var(--font-color);
}

/* .logo {
  background: url(assets/logo/logo.svg);
  width: 300px;
  height: 300px;
} */

.menu_wrap {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.header_menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
    border: solid gray 1px;
}

/*header end*/

/*about*/

.main_photo {
  display: flex;
  /* margin: 0 auto; */
  /* background: url(assets/about/photo_2023-10-10_12-00-26.jpg) center no-repeat; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),
                                    rgba(0, 0, 0, 0.2)),
                    url(assets/about/photo_2023-10-10_12-00-26.jpg);
  background-size: cover;
  background-position: center;
  /* width: 1060px;*/
  /* width: 100%; */
  height: 824px;
}

.main_title {
  margin: auto;
  color: var(--font-color);
  font-size: 8rem;
}

/*end about*/

/*first workout*/

.first_workout {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: solid green 2px;
  border-radius: 5px;
  /* width: 100%; */
}

.first_workout_btns {
  margin: 0 auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
  /* border: #96B565 solid 2px; */
}



.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-dark);
  color: var(--font-color);
  border-radius: 5px;
  width: 40%;
  height: 40px;
  font-size: 24px;
}
